{% extends 'basic.html' %}
{% load static  %}
{%block title%}About Us{% endblock %}
{%block css%}{% endblock %}
{%block body%}

	<!--====================================
Start About Section
==================================== -->
<section class="bg-one about section">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>About <span class="color">Us</span> </h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->


<section class="section about-2 padding-0 bg-dark" id="about">
    <div class="container-fluid p-0">
        <div class="col-lg-12">
            <div class="content-block">
                <h2>Incline:</h2>

                <p>Incline offers a way to explore peer-reviewed data showing how climate change might affect
                    regions across India at both the state and local levels. We provide this data through
                    downloads and visualizations to support your research, outreach, and adaptation planning
                    needs. Incline is now managed by HMPACT Lab researchers under the guidance of Dr. Vivek
                    Gupta </p>
                <h2><br>Our mission:</h2>
                <p> Our mission is to make data portraying climate change in India more accessible and
                    actionable for a broad audience, with an emphasis on energy sector stakeholders and local
                    governments. We do this by: </p>

                <p> • Developing tools that allow users to explore and download high-quality, peer-reviewed
                    climate data from India’s scientific and research communities. Incline provides insights
                    from India’s climate change assessments, featuring datasets on soil moisture, droughts,
                    streamflow, and extreme events. </p>

                <p> • Creating user-friendly tools and content to help users comprehend climate data through
                    features like tooltips, a Glossary, and the Incline Blog. Our Get Started guide offers best
                    practices for working with climate projections. We facilitate the sharing of climate data
                    charts and tables with stakeholders and offer customization options to meet specific sector
                    requirements in our advanced tools. </p>
                <p> • Engaging with our users through workshops, webinars, and stakeholder outreach to gather
                    feedback and improve our offerings. </p>

                <h2><br>Incline Leadership:</h2>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="media">
                            <div class="pull-left">
                                <i class="tf-circle-compass"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Dr. Vivek Gupta:</h4>
                                <p>An Assistant Professor at IIT Mandi, leading the HMPACT group and the Incline program.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media">
                            <div class="pull-left">
                                <i class="tf-hotairballoon"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Siddik Barbhuiya:</h4>
                                <p>A PhD scholar in the HMPACT Lab, overseeing the backend and data preparation, with support from
                                    other Himpact lab members.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media">
                            <div class="pull-left">
                                <i class="tf-circle-compass"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Kishan Kumar:</h4>
                                <p>Final year Btech student at IIT Mandi, Lead Developer in the Incline program.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media">
                            <div class="pull-left">
                                <i class="tf-circle-compass"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Saurav Kumar:</h4>
                                <p>2nd year student at IIT Mandi , Front-end developer in the Incline program.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% comment %} <section class="call-to-action section-sm bg-3 overly">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color: white;">OUR TEAM</h2>
                <a href="#" class="btn btn-main">Start a project with us</a>
            </div>
        </div> <!-- End row-->
    </div> <!-- End container -->
</section> <!-- End section --> {% endcomment %}
<!-- Start Team Skills
    =========================================== -->

<section id="team-skills" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>Our <span class="color">Specializations</span></h2>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div> <!-- End row -->
        <div class="row">
            <div class="col-md-6">
                <h2>WE ARE SPECIALIZED IN WIDE RANGE OF MODELLING, FORECASTING & AI TOOLS.</h2>
               
                <img class="img-fluid" src="{% static 'img/about/company-growth.png' %}" alt="">
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <ul class="skill-bar">
                    <li>
                        <p><span>01-</span> Hydroclimatology & Hydrological Modeling</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:90%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><span>02-</span> Climate change & Climate Extreme</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:70%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><span>03-</span> Natural Disasters, Causality & Time Seriese Forecasting</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:85%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><span>04-</span> Remote sensing & GIS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:60%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><span>05-</span> Deep Learning</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:94%">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- End container -->
</section> <!-- End section -->


        {% endblock %}
{%block script%}{% endblock %}