{% extends 'basic.html' %}
{% load static  %}
{%block title%}Apps{% endblock %}
{%block css%}
{%endblock%}
{%block body%}
<section class="section">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12 text-center">
		  <h1>Incline Watershed Delineation App</h1>
		  <ul class="list-inline mb-50">
			<!-- <li class="list-inline-item">Thomas Jonson</li> -->
			<!-- <li class="list-inline-item">January 8, 2021</li> -->
		  </ul>
		  <img class="img-fluid mb-50" src="{% static 'img/Apps/Apps-2.jpg' %}" alt="blog-image">
		</div>
		<div class="col-lg-12">
			<p class="text-white">The Incline Watershed Delineation Tool provides a seamless way to explore
				and
				utilize watershed data for regions across India. This tool allows users to:</p>
			<!-- <a href="#" class="btn btn-main">Start a project with us</a> -->

			<p class="text-white">(I.) Accurately delineate watersheds using high-quality, peer-reviewed
				data from
				W world’s scientific and research communities</p>
			<p class="text-white">(II.) Leverage datasets from MERIT-Hydro and MERIT-Basins for precise
				watershed
				delineation</p>
			<p class="text-white">(III.) Visualize watershed boundaries with user-friendly tools, and
				download the
				data in various formats including GeoPackage, KML and shapefile</p>
	   
		  {% comment %} <p class="mb-50">App.App.App. App.App.App.App. App.App.App.App.App. App.App.App.App. App.  App.App.App.App.</p>
		  <blockquote class="p-3 mb-50">Design is not just what it looks like and feels like. Design is how it works.
		  </blockquote>
		  <p class="mb-50">App.App.App. App.App.App.App. App.App.App.App.App. App.App.App.App. App.  App.App.App.App.</p>
		  <div class="text-center">
			<img class="img-fluid mb-50" src="{% static 'img/Apps/Apps-2.jpg' %}"alt="image">
		  </div>
		  <p>App.App.App. App.App.App.App. App.App.App.App.App. App.App.App.App. App.  App.App.App.App.</p> {% endcomment %}
		</div>
		<a class=" btn btn-transparent" href="delineation/dl">Explore</a>
	  </div>
	</div>
  </section>
{%endblock%}
{%block script%}{%endblock%}